
/* Clients Section Styles */
.clients {
    background-color: #5A98D0;
    padding: 80px 0;
    border-top-left-radius: 100px;
  }
  
  .clients__container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
  }
  
  .clients__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 40px;
  }
  
  .clients__title {
    font-size: 36px;
    margin: 0;
    color: #fff;
    white-space: nowrap;
  }
  .clients__item:not(:nth-child(4n)) {
    border-right: 1px solid rgba(255, 255, 255, 0.7);
  }
  .clients__item:nth-child(-n+4) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  }
  
  .clients__description {
    font-size: 16px;
    margin: 0;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.2);
    white-space: normal;
    max-width: 600px;
  }
  
  .clients__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .clients__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex: 1
  }
  
  .clients__logo {
    height: 60px;
    color: #fff;
  }
  
  .clients__more-item a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }