
/* Header Styles */
.header {
    background-color: #f4f4f4;
    padding: 20px 0;
  }
  
  .header__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__logo-image {
    height: 40px;
  }
  
  .header__cta-button {
    background-image:url('https://i.ibb.co/S4f5FgK6/ic-menu-48px.png');
    background-repeat: no-repeat;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .header__cta-button:hover {
    background-color: #0057b300;
  }